<section class="register-thought">
    <div class="header">
        <div class="title">
            <h2>Criar Pensamentos:</h2>
        </div>
    </div>

    <div class="form">
        <form action="/thoughts/update{{ thought.id }}" method="POST">
            <div class="form-field">
                <label for="title">Título:</label>
                <input for="text" name="title" value="{{ thought.title }}" placeholder="Insira um Título:"></input>
            </div>

            <div class="form-field">
                <label for="description">Descrição:</label>
                <input type="text" name="description" value="{{ thought.description }}" placeholder="Insira uma descrição">
            </div>

            <div class="form-button">
                <button type="submit">Criar Pensamento</button>
            </div>
        </form>
    </div>
</section>